<!DOCTYPE html>
<html>
  <head>
    <title>Module5RorSoloCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "reset", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 

    <div class="container">
      <%= yield %>
    </div>

    <script>
      
      // Floating labels for form input elements
      const forms = document.querySelectorAll('form');

      forms.forEach((form) => {
        form.addEventListener('focusin', (event) => {
          const target = event.target;
          if (target.tagName === 'INPUT') {
            const label = target.previousElementSibling;
            label.style.transform = 'translateY(-1.5rem)';
            label.style.fontSize = '13px';
          }
        });

        form.addEventListener('focusout', (event) => {
          const target = event.target;
          if (target.tagName === 'INPUT') {
            const label = target.previousElementSibling;
            if (target.value === '') {
              label.style.transform = 'none';
            }
          }
        });
      });
      // --------------

    </script>
  </body>
</html>
